services:
  postgres:
    image: postgres:16
    container_name: bot_db
    restart: unless-stopped 
    env_file:
      - ./.env
    ports: 
      - "5433:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: